* {
  box-sizing: border-box;
} 

.pageSizeBox{
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  background-color: grey;
  justify-content: center;
  width: 100%;
  height: 150vh;
}

.pageContentBox{
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 100%;
}

.JadenPicAndInfo{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  height: 15%;
  border: solid;
  border-width: .5em;
}

.jadenPic{
  width: 37%;
  height: 100%;
}

.JadenInfoBox{
  height: 100%;
  width: 63%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  border-left: solid;
  border-width: .5em;
}

.JadenNameBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  height: 30%;
  width: 100%;
}

.JadenTitleText{
  font-size: min(5vw, 1400%);
}

.JadenSocial{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  height: 15%;
  width: 100%;
}

.JadenJobText{
  display: flex;
  flex-direction: center;
  justify-content: center;
  flex-wrap: nowrap;
  font-size: min(1.5vw, 560%);
  padding-left: 2%;
  padding-right: 2%;
}


.JadenInfoBoxSpacing{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  height: 12.5%;
  width: 100%;
}

.JadenBiography{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  height: 15%;
  border: solid;
  border-width: .5em; 
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.JadenGeneralText{
  text-align: center;
  font-size: min(2vw, 560%);

}

li{
  font-size: 1.5vw;  
}


.JadenClasses{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  height: 27%;
  border: solid;
  border-width: .5em; 
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.JadenFrontEnd{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  height: 10.5%;
  border: solid;
  border-width: .5em; 
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}


.concertLeft{
  padding-left: 4%;
  padding-right: 20%;
}

.concertRight{
  padding-left: 20%;
  padding-right: 4%;

}

.JadenEmailMeForm{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  height: 35%;
  border: solid;
  border-width: .5em; 
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.EmailAddressForm{
  height: 10%;
  width: 100%;
}
.CommentSubmissionForm{
  width: 100%;
  height: 80%;
}

.SubmitButton{
  height: 20%;
  width: 100%;
  font-size: 1.2vw;
}

.TextBoxTitle{
  font-size: 1.5vw;  
}
.JadenTextArea1{
  width: 100%;
  font-size: 1.3vw;  
}

.JadenTextArea2{
  width: 100%;
  height: 80%;
  font-size: 1.2vw;
}